---
title: Welcome to Middleman
---

<div class="welcome">
  <h1>it looks like you're working</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
